<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Kasa</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="bg-gray-100">
    <div class="max-w-2xl mx-auto bg-white rounded-xl overflow-hidden shadow-lg">
        <!-- Header -->
        <div class="flex justify-center py-6 ">
            <img src="https://res.cloudinary.com/dtgrcjcbd/image/upload/v1756610794/Logo_dz1wjo.png"
                alt="kasa-logo-negro" class="w-48">
        </div>

        <!-- Main Content -->
        <div>
            <div class=" mb-2 leading-tight px-8 ">
                <p class="text-3xl text-gray-900 font-normal border-t-2 border-[--kasa-green]">Ya eres parte de una
                    <span class="font-semibold">nueva
                        forma de invertir</span>
                </p>
            </div>

            <div class="mb-6 px-8 ">
                <p class="text-gray-900 text-2xl font-normal">Desde <span class="font-semibold">S/2000, sin floro</span>
                    💸</p>
            </div>

            <div class="text-gray-700 mb-4 px-8                Sin créditos. Sin trámites. ">
                Hola {{userName}},
            </div>

            <div class="text-gray-700 mb-2 px-8 ">
                Gracias por registrarte en <span class="font-bold text-gray-900">KASA</span> 🙌
            </div>

            <div class="text-gray-700 mb-2 px-8 ">
                Desde ahora formas parte de una <span class="text-gray-900 font-semibold">comunidad de inversión
                    inmobiliaria colectiva</span> que está <span class="text-gray-900 font-semibold">cambiando las
                    reglas del juego... una fracción a la vez</span>.
            </div>

            <div class="my-5 space-y-3 px-8 ">
                Con KASA puedes invertir desde <span class="text-gray-900 font-semibold">S/2000</span> en <span
                    class="text-gray-900 font-semibold">propiedades reales,</span> ganar por <span
                    class="text-gray-900 font-semibold">alquiler</span> y también por <span
                    class="text-gray-900 font-semibold">valorización.</span> Todo <span
                    class="text-gray-900 font-semibold">100% digital.</span>
                Sin créditos. Sin trámites.
            </div>

            <a href="inviertekasa.com"
                class="flex w-full bg-kasa-green text-white py-4 px-8 text-center mt-12  mb-8 justify-center items-center gap-2">
                <span class="inline font-black text-2xl italic underline">¿Listo para invertir en tu primera fracción?
                </span> <img class="inline font-black text-2xl underline w-8"
                    src="https://res.cloudinary.com/dtgrcjcbd/image/upload/v1756614497/casa_z2nkid.png" />
            </a>

            <div class="text-center">
                <a href="{{propertiesLink}}"
                    class="inline-block bg-[#101A28] hover:bg-[#102028] text-white py-3 px-6 rounded-full font-medium text-sm mt-4 mb-8 transition-colors duration-200">
                    <span class="font-bold text-xl">[Ver propiedades]</span>
                </a>
            </div>
        </div>

        <!-- Footer Component (Reutilizable) -->
        <div>
            <!-- Sección de Soporte -->
            <div class=" px-8 py-8 ">
                <div class="mb-6 border-t-2 border-[--kasa-green] pt-8">
                    <div class="text-lg font-semibold text-gray-900 mb-3">🔎 ¿Tienes dudas?</div>
                    <div class="text-sm leading-relaxed mb-2 pr-48">
                        Revisa nuestro [Centro de Ayuda] o escríbenos a [soporte@inviertekasa.com] y te ayudamos al
                        toque.
                    </div>

                    <div class="mt-12 text-sm">
                        Un saludo desde KASA <br>#InvierteKasa
                    </div>
                </div>

            </div>

            <div class="bg-kasa-background w-full h-24 flex justify-between px-8 items-center">
                <div>
                    <img src="https://res.cloudinary.com/dtgrcjcbd/image/upload/v1756610797/logo-kasa-blanco_p9uhqg.png"
                        width="140">
                </div>
                <div>
                    <ul class="flex gap-4">
                        <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                    viewBox="0,0,256,256" style="fill:#FFFFFF;">
                                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <g transform="scale(4,4)">
                                            <path
                                                d="M31.82031,12c-18.381,0 -19.82031,1.43931 -19.82031,19.82031v0.35938c0,18.381 1.43931,19.82031 19.82031,19.82031h0.35938c18.381,0 19.82031,-1.43931 19.82031,-19.82031v-0.17969c0,-18.548 -1.452,-20 -20,-20zM28,16h8c11.129,0 12,0.871 12,12v8c0,11.129 -0.871,12 -12,12h-8c-11.129,0 -12,-0.871 -12,-12v-8c0,-11.129 0.871,-12 12,-12zM41.99414,20c-1.105,0.003 -1.99714,0.90086 -1.99414,2.00586c0.003,1.105 0.90086,1.99714 2.00586,1.99414c1.105,-0.003 1.99714,-0.90086 1.99414,-2.00586c-0.003,-1.105 -0.90086,-1.99714 -2.00586,-1.99414zM31.97656,22c-5.522,0.013 -9.98956,4.50144 -9.97656,10.02344c0.013,5.522 4.50144,9.98956 10.02344,9.97656c5.522,-0.013 9.98956,-4.50144 9.97656,-10.02344c-0.013,-5.522 -4.50144,-9.98956 -10.02344,-9.97656zM31.98633,26c3.313,-0.008 6.00567,2.67333 6.01367,5.98633c0.007,3.313 -2.67333,6.00567 -5.98633,6.01367c-3.313,0.008 -6.00567,-2.67233 -6.01367,-5.98633c-0.008,-3.313 2.67333,-6.00567 5.98633,-6.01367z">
                                            </path>
                                        </g>
                                    </g>
                                </svg></a></li>
                        <li><a href=""></a><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50"
                                height="50" viewBox="0 0 50 50" style="fill:#FFFFFF;">
                                <path
                                    d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M37,19h-2c-2.14,0-3,0.5-3,2 v3h5l-1,5h-4v15h-5V29h-4v-5h4v-3c0-4,2-7,6-7c2.9,0,4,1,4,1V19z">
                                </path>
                            </svg></li>

                        <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                    viewBox="0,0,256,256" style="fill:#FFFFFF;">
                                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <g transform="scale(5.12,5.12)">
                                            <path
                                                d="M6.91992,6l14.2168,20.72656l-14.9082,17.27344h3.17773l13.13867,-15.22266l10.44141,15.22266h10.01367l-14.87695,-21.6875l14.08008,-16.3125h-3.17578l-12.31055,14.26172l-9.7832,-14.26172z">
                                            </path>
                                        </g>
                                    </g>
                                </svg></a></li>
                        <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                    viewBox="0,0,256,256" style="fill:#FFFFFF;">
                                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <g transform="scale(10.66667,10.66667)">
                                            <path
                                                d="M21.582,6.186c-0.23,-0.86 -0.908,-1.538 -1.768,-1.768c-1.56,-0.418 -7.814,-0.418 -7.814,-0.418c0,0 -6.254,0 -7.814,0.418c-0.86,0.23 -1.538,0.908 -1.768,1.768c-0.418,1.56 -0.418,5.814 -0.418,5.814c0,0 0,4.254 0.418,5.814c0.23,0.86 0.908,1.538 1.768,1.768c1.56,0.418 7.814,0.418 7.814,0.418c0,0 6.254,0 7.814,-0.418c0.861,-0.23 1.538,-0.908 1.768,-1.768c0.418,-1.56 0.418,-5.814 0.418,-5.814c0,0 0,-4.254 -0.418,-5.814zM10,14.598v-5.196c0,-0.385 0.417,-0.625 0.75,-0.433l4.5,2.598c0.333,0.192 0.333,0.674 0,0.866l-4.5,2.598c-0.333,0.193 -0.75,-0.048 -0.75,-0.433z">
                                            </path>
                                        </g>
                                    </g>
                                </svg></a></li>

                    </ul>
                </div>
            </div>

            <div class="bg-kasa-green w-full h-48 text-white font-normal text-xl text-center">
                <p class="py-6 underline">Unsubscribe</p>
                <p>© 2025 Kasa Gestora SAC <br> Kasa - Calle Junin Mz GA Lt 41, La Molina, Lima, Perú</p>

            </div>
        </div>
    </div>

</body>

</html>